<div class="card-container">
  <div class="card">
    <blockquote class="subject" style="margin-bottom: 0">
      <div class="header">
        <div class="clearfix">
          <div class="pull-left">
            <div style="width:50px; height:50px; text-align: center">
              <div class="circle bg-info"><i class="fa fa-cutlery"></i></div>
            </div>
          </div>
          <div class="pull-right">
          </div>
        </div>
      </div>
      <div class="content" style="text-align: center">
        <h1 class="lead">{{survey.name}}</h1>
        {{#if survey.completedAssignments}}
          <p>{{#link-to 'analytics.restaurant.survey' survey.id class="btn btn-primary"}}{{survey.completedAssignments}} completed surveys{{/link-to}}</p>
        {{else}}
          <p>No results to show</p>
        {{/if}}
      </div>
    </blockquote>
  </div>
</div>
