<div class="container">
  <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <h4>One moment, please!</h4>
          <p>We're fetching the data for analytics.</p>
          <p style="text-align:center">
            <i class="fa fa-gear fa-spin fa-2x"></i>
          </p>
        </div>
      </div>
  </div>
</div>


