<div class="row" style="margin-top:20px;">
  <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active">{{#link-to 'clientell' class="btn btn-block btn-info"}}Bank{{/link-to}}</li>
          <li role="presentation">{{#link-to 'clientell.create'}}Create{{/link-to}}</li>
          <li role="presentation">{{#link-to 'clientell.assign'}}Assign{{/link-to}}</li>
      </ul>
  </div>
    <div class="col-sm-12" style="margin-top:20px;">
        <ol class="breadcrumb">
        </ol>
    </div>
</div>
<div class="row">
  <div class="col-sm-3">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">Navigation</h4>
          </div>
          <div class="panel-body">
              <div class="btn-group" style="margin: 0 0 20px; width: 100%">
                {{#link-to 'clientell' class="btn btn-block btn-info"}}Overview{{/link-to}}
              </div>
              <div class="btn-group" style="margin: 0 0 20px; width: 100%">
                {{#link-to 'clientell.wizard' class="btn btn-block btn-primary"}}Add Survey Content{{/link-to}}
              </div>
          </div>
      </div>
  </div>
  <div class="col-sm-9">
    {{outlet}}
  </div>
</div>
