<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation">{{#link-to 'clientell'}}Bank{{/link-to}}</li>
            <li role="presentation" class="active"><a href="javascript:void(0);">Create</a></li>
            <li role="presentation">{{#link-to 'clientell.assign'}}Assign{{/link-to}}</li>
        </ul>
    </div>
    <div class="col-sm-12" style="margin-top:20px;">
        <ol class="breadcrumb">
        </ol>
    </div>
</div>
{{outlet}}
