<div class="row" style="margin-top:20px;">
  <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="javascript:void(0);">Bank</a></li>
          <li role="presentation">{{#link-to 'clientell.create'}}Create{{/link-to}}</li>
          <li role="presentation">{{#link-to 'clientell.create'}}Assign{{/link-to}}</li>
      </ul>
  </div>
    <div class="col-sm-12" style="margin-top:20px;">
    <ol class="breadcrumb">
    </ol>
  </div>
</div>
{{outlet}}

