<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron" style="padding-left: 40px; padding-right:40px;">
            <p>We have saved your survey responses on our end.  We appreciate your willingness to help us maintain high standards for food, service and the atmosphere of our restaurants.  Thank you!</p>
              <img src="http://foodfightmarketing.com/shared_files/images/ff_logo.png">
        </div>
    </div>
</div>