{{outlet}}
<footer class="footer">
  <div class="container">
    <div style="margin-bottom:50px"></div>
    <p>&copy; 2014 Food Fight Inc. All rights reserved.</p>
  </div>
</footer>
<div id="success-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loading-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="add-category-label">Success!</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <h4>Your data has been saved to ReviewSage.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="sent-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="loading-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="add-category-label">Success!</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <h4>Your message has queued for sending. They should receive it soon.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</div>
