{{render "navbar"}}
<div class="business-header homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Food Fight Secret Shopper Portal</h1>
            </div>
        </div>
    </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-12">

          </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <h2>Stay up to date</h2>
              <p>To see summaries of the most recent surveys, just click the <span>Analytics</span> tab above.  All surveys are tracked the minute they're completed.</p>
          </div>
          <div class="col-sm-6">
              <h2>Manage your surveys</h2>
              <p>Click <strong>Clientell</strong> above to go to the survey creation tool.  There, you're able to create new questions and surveys, and send them out to shoppers to complete.  You can also check on your outstanding surveys there.</p>
          </div>
      </div>
  </div>
</div>
